<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body" ng-cloak>
	<h3 class="page-sub-heading">新建组</h3>

	<form name="ctrl.saveForm" class="gf-form-group" ng-submit="ctrl.create()">
		<div class="gf-form max-width-30">
			<span class="gf-form-label width-10">名称</span>
			<input type="text" required ng-model="ctrl.name" class="gf-form-input max-width-22" give-focus="true">
		</div>
		<div class="gf-form max-width-30">
			<span class="gf-form-label width-10">
				邮箱
				<info-popover mode="right-normal">
					这是可选的，主要用于允许自定义小组头像。
				</info-popover>
			</span>
			<input class="gf-form-input max-width-22" type="email" ng-model="ctrl.email" placeholder="email@test.com">
		</div>
		<div class="gf-form-button-row">
			<button type="submit" class="btn btn-primary">
				创建
			</button>
		</div>
	</form>
</div>
